
#content {
  margin: 0 auto;
  width: 900px;
  font-family: Georgia,serif;
  font-size: 13px;
}

#masthead{
  text-align: center;
  font-size: 5.5em;
  font-family: 'Playfair Display SC', serif;
  height: 150px;
  width: 100%;
  padding-top: 50px;
  border-bottom: 3px solid #383F71;
}

h1{
  font-size: 2.5em;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  padding-top: 20px;
}


#byline {
font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
padding-bottom: 20px;
color:#383F71;
font-weight:bold;
}

img {
  max-width: 850px;
  text-align:center;
}

.caption{
  color: grey;
  margin-top: 0px;
  padding-top: 0px;
  font-style: italic;
  padding-bottom: 9px;
}

blockquote {
  font: normal helvetica, sans-serif;
  font-style:italic;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #383F71;
  margin-left: :50px;
  padding-left: 15px;
  border-left: 4px solid #ccc;
  font-size: 4em;
}

.links{
  padding-top: 30px;
  padding-bottom: 25px;
}

a{
  color: black;
}

a:hover{
  color:#383F71;
}

a:visited{
  color: #9092A8;
}
