/*styles for my resume */
.col{
  text-align:center;
}

/*navbar styles*/
.nav-item{
  font-family: 'Montserrat', sans-serif;
}

.navbar-light{
  background-color: #F2F0F0;
}

/*top image styles*/

#image{
  width:100%;
  max-height:500px;
}

#profile{
  max-width:100%;
  max-height:150px;
}

/*education section styles*/
.education{
  margin: 0 auto;
  background-color: #485F73;
}

.degree{
  color:#D0E5F2;
  padding-top: 150px;
  padding-bottom:150px;
}

#logo{
  width:100%;
  max-width:350px;
  padding-top: 150px;
  padding-bottom:150px;
  padding-left: 75px;
}

/*style for stories */
#cards{
  padding-top:100px;
  padding-bottom:100px;
  background-color: #D0E5F2;
  margin:0 auto;
}
.card-img-top{
  width:100%;
  max-width:150px;
  max-height: 150px;
}

.btn-primary{
  background-color: #D0E5F2;
  color:#485F73;
  border: 0;
}

/*style for experience*/
.experience{
  background-color: #D0E5F2;
}

/*style for contact*/
.contact{
  background-color: #0D0D0D
}

.bi{
  color:#D0E5F2;
  height:20px;
  width:20px;

}

body{
font-family: 'Montserrat', sans-serif;
font-size: 1em;
color: #444;
font-weight:400;
}

#container{
  width:100%;
  max-width: 1000px;
  margin:0 auto;
  padding-bottom: 50px;
}
/* my name at the top*/
#name{
  font-size: 2.5em;
  text-align:center;
  color: #D0E5F2;
  margin:0 auto;
  padding-top: 50px;
  padding-bottom: 35px;
}

/* my occupation */
#title{
  text-transform: uppercase;
  font-size: 1.5em;
  color:#33485e;
  font-weight:600;
  margin-top: 20px;
  text-align: center;
}

/*contact info at the top */
.menu{
  padding: 0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
  text-align: center;
}
/*individula list items for contact info*/
.menu li{
  display: inline;
}

/* different headings with a colored background */
.sectionheader{
  font-size:1.5em;
  background-color: #33485e;
  text-transform: uppercase;
  color:white;
  margin-bottom:10px;
  margin-top: 20px;
  width:70%;
  min-width: 300px;
}

/* job titles */
.jobtitle{
  font-weight:600;
  font-size: 2em;
}

/*places of work*/
.organization{
  font-size: 1.5em;
}

/* dates worked at each place*/
.date{
  font-style: italic;
  margin-top: 3px;
}

/*everything with a paragraph*/
.description{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}


/*skills list*/
#do{
  margin-top: 5px;
}

/* mission staement at the top*/
.top{
  width:60%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}
