/*nav bar styles start */
.nav-item{
  color:#01260A;
}

.navbar-brand{
  font-family: 'Montserrat', sans-serif;
}

.dropdown-menu{
  font-family: 'Montserrat', sans-serif;
}
/*nav bar styles end */

/* topper start*/
.hero-container{
  position: relative;
  text-align:center;
  color:white;
}

.hero-image{
  width: 100%;
  opacity: .35;
}

.overlay{
  position: absolute;
  top: 15%;
  width:100%;
}

.hero-hed{
font-size: 7.5em;
font-family: 'Montserrat', sans-serif;
font-weight:300;
color:#01260A;

}

/* topper end*/

.headline{
  font-size:3.75em;
  font-weight: 400;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  color:#01260A;
  padding-top: 20px;
}

.byline{
  font-size: 1em;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align:left;
  color:#014005;
  font-weight: 700;
}

p{
    font-family: 'Noto Serif', serif;
    line-height: 200%;
}

.chapter-headline{
  font-size: 2em;
  font-weight:600;
  font-family: 'Montserrat', sans-serif;
  color:#014005;
}
/*pull quote*/
.quote{
  font-family: 'Montserrat', sans-serif;
  font-weight: 1500;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #014005;
  margin-left: :50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
  font-size: 3em;
}


/*graphic styles */
.graphic{
  padding-top: 20px;
  padding-bottom: 25px;
}
/* image styles start */
.caption{
  color: grey;
  margin-top: 0px;
  padding-top: 0px;
  font-size: .75em;
  font-style: italic;
  padding-bottom: 9px;
  text-align: left;
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
}

.image{
  width:100%;
}

#picture{
  text-align: center;
  max-width: 1500px;
}
/* image styles end*/

/*link coding*/
.links{
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 25px;
  font-weight:bold;
  font-size: 14px;
  padding-top: 20px;
}
a{
  color: #014005;
}

a:hover{
  color:light-grey;
}

a:visited{
  color: black;
}

/*footer*/
#footer{
    background-color: #01260A;
    text-align: center;
}

.footer-text{
  color: white;
  font-family: 'Montserrat', sans-serif;
}

/*media quieries */

@media(max-width: 675px) {
  .hero-hed{
    font-size:4em;
  }
    .headline{
      font-size: 2em;
    }
    p{
      padding-left: 20px;
      padding-right: 20px;
    }
    .quote{
      font-size: 2em;
    }
    .quote-attribute{
      font-size: .5em;
    }

  }
